/* workaround for admin header issue */
#custom_header {
    display: block !important;
}

.profiler-results {
    display: none;
}
.d-header {
    background-color: #262626;
}
.d-header .title {
    height: 45px;
}
.title h2 {
    color: white !important;
    font-size: 16px !important;
    line-height: 40px;
}
header .title-wrapper .bar .badge-category {
    color: white !important;
}
img.avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
/* .posters, .category-links, #wmd-image-button */

.views, .faq-link, footer h3, .user-content .category, .user-content .pref-card-badge, .user-content .pref-bio {
    display: none !important;
}
.extra-info-wrapper .topic-link, .extra-info .badge-wrapper .badge-category {
    color: white !important;
}
/* YowuReport Header/Footer CSS */

body {
    overflow-x: hidden;
    background-color: #1e1e1e;
}
.docked #header {
    display: none;
}
#header {
    height: 80px;
    z-index: 1000;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
}
@media screen and (min-width: 768px) {
    #header .container {
        width: 750px;
    }
}
@media screen and (min-width: 992px) {
    #header .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    #header .container {
        width: 1170px;
    }
}
#header .container {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
#header .header-left .logo-h1 .logo {
    width: 212px;
    height: auto;
}
#header .btn-menu-trigger {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 15px;
}
#header .btn-menu-trigger i {
    color: #999999;
    font-size: 25px;
}
#header .btn-menu-trigger:hover i, .menu-on #header .btn-menu-trigger i {
    color: #f9f9f9;
}
#header h1.logo-h1 {
    display: inline-block;
}
#main {
    /*padding-bottom: 30px;*/
    margin-top: 80px;
    background-color: white;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
@media screen and (max-width: 767px) {
    #main {
        margin-top: 0px;
    }
}
.sidebar-menu {
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #1e1e1e;
    height: 100%;
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    padding: 120px 30px 0;
    line-height: 1.4;
    box-sizing: border-box;
}
.sidebar-menu #menu-main-menu {
    margin: 0 0 110px 0;
    padding: 0;
    width: 125px;
    list-style: none;
    box-sizing: border-box;
}
.sidebar-menu #menu-main-menu > li.menu-item-has-children a i {
    float: right;
    line-height: 25px;
    height: 25px;
    font-size: 12px;
    box-sizing: border-box;
    margin-right: 2px;
}
.sidebar-menu #menu-main-menu > li.menu-item-has-children .sub-menu {
    display: none;
}
.sidebar-menu #menu-main-menu > li {
    border-bottom: 1px solid #4c4c4c;
}
.sidebar-menu #menu-main-menu > li a {
    display: block;
    color: #fff;
    font-size: 18px;
    //border-bottom: 1px solid #4c4c4c;
    padding: 15px 0 15px 25px;
    box-sizing: border-box;
}
.sidebar-menu #menu-main-menu > li > .sub-menu {
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
}
.sidebar-menu #menu-main-menu > li > .sub-menu li a:first-child {
    padding-top: 0px !important;
}
.sidebar-menu #menu-main-menu > li > .sub-menu li a:last-child {
    padding-bottom: 20px !important;
}
.sidebar-menu #menu-main-menu > li > .sub-menu li a {
    padding: 15px 0px 15px 30px;
    color: #999999;
    box-sizing: border-box;
}
.sidebar-menu #menu-main-menu > li > .sub-menu li a:hover {
    color: #fff;
}
.menu-on #header, .menu-on .sidebar-menu {
    -moz-transform: translate3d(200px, 0, 0);
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
}
.menu-on #footer {
    z-index: 998;
}
.menu-on .sidebar-menu {
    overflow-y: auto;
}
.menu-on .content-wrapper, .menu-on #main {
    -moz-transform: translate3d(200px, 0, 0);
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
    background-color: #f9f9f9;
    z-index: 999;
}

#footer {
    box-sizing: border-box;
    display: block;
    margin-top: 30px;
    /*position: relative;
    top: 30px;*/
}
/*
*   footer section
*/
/* line 295, yowureport/sass/_layout.scss */

#footer {
    height: 80px;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #1e1e1e;
    padding: 15px 0;
}
@media screen and (max-width: 767px) {
    /* line 295, yowureport/sass/_layout.scss */
    
    #footer {
        height: auto;
    }
}
/* line 303, yowureport/sass/_layout.scss */

#footer .footer-left {
    padding-top: 5px;
}
@media screen and (min-width: 992px) {
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
}
@media screen and (max-width: 767px) {
    /* line 303, yowureport/sass/_layout.scss */
    
    #footer .footer-left {
        text-align: center;
    }
}
/* line 308, yowureport/sass/_layout.scss */

#footer .footer-left .footer-logo {
    margin-bottom: 5px;
}
/* line 310, yowureport/sass/_layout.scss */

#footer .footer-left .footer-logo img {
    width: 160px;
}
/* line 314, yowureport/sass/_layout.scss */

#footer .footer-left .copyright {
    color: #999999;
    font-size: 14px;
}
/* line 319, yowureport/sass/_layout.scss */

#footer .footer-right {
    text-align: right;
}
@media screen and (max-width: 992px) {
    /* line 319, yowureport/sass/_layout.scss */
    
    #footer .footer-right {
        text-align: left;
    }
}
@media screen and (max-width: 767px) {
    /* line 319, yowureport/sass/_layout.scss */
    
    #footer .footer-right {
        text-align: center;
        padding-top: 0px;
    }
}
/* line 328, yowureport/sass/_layout.scss */

#footer .footer-right .footer-menu {
    display: inline-block;
}
/* line 330, yowureport/sass/_layout.scss */

#footer .footer-right .footer-menu #menu-footer-menu {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}
@media screen and (max-width: 992px) {
    /* line 330, yowureport/sass/_layout.scss */
    
    #footer .footer-right .footer-menu #menu-footer-menu {
        margin-bottom: 0px;
    }
}
/* line 337, yowureport/sass/_layout.scss */

#footer .footer-right .footer-menu #menu-footer-menu li {
    display: inline-block;
    padding: 15px 0;
}
@media screen and (max-width: 992px) {
    /* line 337, yowureport/sass/_layout.scss */
    
    #footer .footer-right .footer-menu #menu-footer-menu li {
        padding: 0;
    }
}
/* line 343, yowureport/sass/_layout.scss */

#footer .footer-right .footer-menu #menu-footer-menu li a {
    line-height: 30px;
    color: #999999;
    font-size: 15px;
    letter-spacing: 3px;
    padding: 0 20px;
    border-right: 1px solid #999999;
}
/* line 350, yowureport/sass/_layout.scss */

#footer .footer-right .footer-menu #menu-footer-menu li a:hover {
    color: #f9f9f9;
}
@media screen and (max-width: 992px) {
    /* line 343, yowureport/sass/_layout.scss */
    
    #footer .footer-right .footer-menu #menu-footer-menu li a {
        padding: 0px 10px;
    }
}
/* line 358, yowureport/sass/_layout.scss */

#footer .footer-right .footer-menu #menu-footer-menu li:last-child a {
    border-right: 0px;
}
/* line 365, yowureport/sass/_layout.scss */

#footer .footer-right .social-links {
    display: inline-block;
}
/* line 367, yowureport/sass/_layout.scss */

#footer .footer-right .social-links a {
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
}
/* line 372, yowureport/sass/_layout.scss */

#footer .footer-right .social-links a:hover i {
    color: #f9f9f9;
}
/* line 376, yowureport/sass/_layout.scss */

#footer .footer-right .social-links a i {
    color: #999999;
    font-size: 23px;
    vertical-align: middle;
}

/* prevent slow performance animation in safari */
#main-outlet {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
